/* style.css */
/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background for the body */
body {
    /*background-image: url('assets/images/background.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0); /* Text color against the background */
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 1000; /* Ensure it stays on top */
    height: 60px;
}

.navbar .logo {
    height: 40px;
}

.navbar a {
    color: #000000; /* White text color */
    text-decoration: none;
    font-size: 1.0rem;
    font-family: 'Trebuchet MS', sans-serif; /* Change the font family */
    font-weight: 700;
    transition: color 0.3s ease;

}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
    color: #ccc;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between the logo and title */
}


.site-title {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin: 0; /* Remove default margin */
}

/* Content sections */
.content-section {
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black overlay */
    margin-top: 60px;
    text-align: center;
}

.content h1 {
    font-size: 2.5rem; /* Adjust font size for the heading */
    color: #007BFF; /* Change the color of the heading (e.g., blue) */
    font-family: 'Trebuchet MS', sans-serif; /* Change the font family */
    margin-bottom: 200px;
    margin-top: 200px;
    text-align: center;
}

.content p {
    font-size: 1.2rem; /* Adjust font size for the paragraph */
    color: #000000; /* Change the color of the paragraph (e.g., light gray) */
    font-family: 'Trebuchet MS', sans-serif; /* Change the font family */
    text-align: center;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.footer-links a {
    color: rgb(0, 0, 0);
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}